In [11]:
import numpy as np
import pandas as pd
from sklearn.datasets import fetch_openml

# Загрузка набора данных Boston Housing
boston = fetch_openml(data_id=506, as_frame=True)
data = boston.data
target = boston.target
feature_names = boston.feature_names

# Создание DataFrame из массива данных
df = pd.DataFrame(data, columns=feature_names)
df

c:\Python311\Lib\site-packages\sklearn\datasets\_openml.py:1022: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

,Married,Age,Years_of_education,Male,Religious,Sex_partners,Income,Drug_use,Same_sex_relations
0,1,52,14,0,1,1,32500.0,0,0
1,0,58,16,0,1,0,21250.0,0,0
2,0,22,14,1,1,15,2000.0,0,0
3,1,35,14,1,1,5,21250.0,0,0
4,0,43,20,1,1,1,67500.0,0,0
...,...,...,...,...,...,...,...,...,...
154,1,41,19,1,0,1,27500.0,0,0
155,1,29,14,0,1,1,27500.0,0,0
156,0,45,12,1,1,1,16250.0,0,0
157,1,35,12,1,1,1,55000.0,0,0
158,1,47,12,0,1,1,500.0,0,0